CPANEL_EXPECTED_LOCALE=en
CPANEL_EXPECTED_LOG_ARCHIVE=1
CPANEL_EXPECTED_LOG_PRUNE=1
CPANEL_EXPECTED_LOG_RETENTION=-1
CPANEL_EXPECTED_GPG_PUBLIC_COUNT=0
CPANEL_EXPECTED_GPG_SECRET_COUNT=0
CPANEL_ALLOW_GPG_KEYPAIR_DELETE=0
