CPANEL_EXPECTED_LOCALE=en
CPANEL_EXPECTED_LOG_ARCHIVE=1
CPANEL_EXPECTED_LOG_PRUNE=1
CPANEL_EXPECTED_LOG_RETENTION=-1
CPANEL_EXPECTED_NOTIFICATION_PREFERENCES='{"notify_account_authn_link":true,"notify_account_authn_link_notification_disabled":true,"notify_contact_address_change":true,"notify_contact_address_change_notification_disabled":true,"notify_disk_limit":true,"notify_password_change":true,"notify_password_change_notification_disabled":true,"notify_ssl_expiry":true,"notify_twofactorauth_change":true,"notify_twofactorauth_change_notification_disabled":true}'
CPANEL_EXPECTED_SPAM_PREFERENCES='{}'
CPANEL_EXPECTED_GPG_PUBLIC_COUNT=0
CPANEL_EXPECTED_GPG_SECRET_COUNT=0
CPANEL_ALLOW_GPG_KEYPAIR_DELETE=0
